*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}
body {
	width: 100%;
	height: 100%;
}
header {
	background: url(../img/sec11.jpg) no-repeat;
}
.head {
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu {
	align-items: center;
}
.menu li:hover {
	background-color: #ff462d;
	color: #fff;
	transition: 0.3s all;
}
.head_text {
	flex-direction: column;
	color: silver;
	text-align: center;
	padding: 100px 0;
}
.head_text p {
	padding: 50px 0;
	font-size: 20px;
}

.title {
	text-transform: uppercase;
	padding-bottom: 40px;
	position: relative;
	text-align: center;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-left: 1335px solid red;
	border-bottom: 20px solid transparent;
	overflow: hidden;
}

.triangle_mini {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-top: 10px solid red; 
	border-right: 400px solid transparent;		
}


.title:before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 50%;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 2px solid red;
	height: 2px;
}

.menu_list {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-end;
	position: relative;
}
.menu li {
	display: flex;
	margin-right: 20px;
}
.menu a {
	color: #fff;
	text-decoration: none;
}
.container {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}
.macbook {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 50px;
}
.macbook_text {
	max-width: 400px;
	width: 100%;
	text-align: center;
}
.macbook_text h2 {
	padding-bottom: 20px;
}
.macbook_img{
	position: absolute;
    top: 50px;
    right: 20px;
}

.bottom_video_box {
	padding: 30px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bottom_video_box a {
	text-decoration: none;
	padding: 10px;
	color: red;
}

/*
.box_site {
	width: 900px;
	height: 350px;
	background: #fff;
	border: 1px solid black;
	position: absolute;
	top: 700px;
	left: 300px;
}

.box_site h1, h5 {
	display: flex;
	justify-content: center;
	padding-top: 100px;
}
.box_site_logo {
	width: 200px;
	height: 200px;
	border: 1px solid red;
	border-radius: 50%;
	position: absolute;
	top: -100px;
	left: 350px;
	background: silver;
}
*/

.bg_gray {
	overflow: hidden;
}

.bg_position {
	position: relative;
}
.service {
	display: flex;
	flex-direction: column;
}
.block_center {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
	flex-direction: column;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.block_center p {
	font-size: 12px;
	padding: 40px 0;
	text-align: center;
}
.service_block_light {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 20px;
}
.sandwich {
	flex-basis: 25%;
	justify-content: center;
	align-items: center;
	padding-bottom: 40px;
}

.sandwich_img {
	width: 100px;
	height: 100px;
	align-items: center;
	position: relative;
	margin: auto;
}
.sandwich_img img,
.sandwich_img svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.sandwich h4 {
	display: flex;
	justify-content: center;
	padding-top: 15px;
}

.slide {
	background: url(../img/sec11.jpg) no-repeat;
	width: 100%;
	color: #fff;
	text-align: center;
	padding: 75px 0;
}
.slide p {
	padding: 30px 0;
}
.quotes:before {
	content: 'â';
	font-size: 70px;
	display: flex;
	justify-content: center;
	color: #ff462d;
}
.service_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 70px;
}
.sandwich_box {
	border: 1px solid black;
	width: 170px;
	background: #fff;
	position: relative;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.sandwich_box_up {
	padding: 40px 0;
	text-align: center;
	font-size: 15px;
	background: silver;
	border-bottom: 1px solid black;
	color: #000;
}
.sandwich_box_down {
	text-align: center;
	padding: 70px 0;
	background: #fff;
	line-height: 30px;
}
.sandwich_box_up_button {
	position: absolute;
	top: 115px;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid black;
	border-radius: 20px;
	width: 120px;
	text-align: center;
	background: silver;
	padding: 8px 0;
	font-size: 14px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.sandwich_box a {
	text-decoration: none;
	color: white;
}
.sandwich_box_down_button {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 20px;
	width: 120px;
	text-align: center;
	background: #ff462d;
	color: #000;
	padding: 8px 0;
	font-size: 14px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.person_price {
	font-size: 30px;
}

.sandwich_box:hover .sandwich_box_up,
.sandwich_box:hover .sandwich_box_up_button,
.sandwich_box:active {
	background-color: #ff462d;
	color: #fff;
	transition: 0.3s all;
}
.sandwich_box_down_button:hover,
.sandwich_box_down_button {
	background-color: #ff462d;
	color: #fff;
	transition: 0.3s all;
}
/*
.organisation_up {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}

.easy_block {
	display: flex;
}
*/
.organisation {
	padding: 40px 0;
	display: flex;
	flex-wrap: wrap;
}
.easy_block {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	width: 100%;
	flex-basis: 33.33%;
}
.text {
	padding: 10px;
	flex-direction: column;
}
.text h4 {
	padding: 13px 0;
	color: black;
}

.organisation img {
	padding: 10px;
}

.fully {
	width: 100%;
	background-color: #ff462d;
	padding: 40px 0;
}
.Join_us {
	font-size: 19px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.join_us_button {
	font-size: 13px;
	border-radius: 20px;
	text-align: center;
	width: 110px;
	background-color: #fff;
	color: #ff462d;
	padding: 10px 0;
}

.join_us_button:hover ,
.join_us_button.active {
	background-color: #afa09e;
	color: #fff;
	transition: 0.3s all;
}

/*
.life_box {
	padding: 40px 0;
	display: block;
}
.life_box_up {
	display: flex;
	justify-content: space-between;
}
.life_box_items {
	padding: 20px;
	line-height: 25px;
}
*/
.life_box {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
}
.life_box_items {
	padding: 15px;
	height: 280px;
	flex-basis: 33.33%;
	display: block;
	align-items: center;
	justify-content: center;
}


.life_box_items img {
	width: 225px;
	height: 120px;
	border: 1px solid grey;
}

.life_box_avatar {
	position: relative;
	overflow: hidden;
	height: 120px;
	background-position: center center;
	background-size: cover;
}
.mono_box {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #ff462d;
	transform: translateY(100%);
}
.life_box_avatar:hover .mono_box {
	transform: translateY(0%);
	transition: 0.3s all;
}

/*.mono_box {
	width: 225px;
	height: 125px;
	border: 1px solid grey;
	background-color: #f885fc;
	position: relative;
	overflow: hidden;
	display: block;
}
.mono_box:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: -100%;
	z-index: -1;
	transition: 0.3s all;
	box-shadow: 0 0 0 10px rgba(255, 255, 255, 1);
}
.mono_box:hover:before {
	bottom: 0;
}*/





.mono_box i {
	position: absolute;
	top: 60px;
	left: 110px;
}
.mono_box_text {
	position: relative;
	padding: 20px 10px;
	background-color: silver;
	overflow: hidden;
}

.life_more {
	text-align: center;
	padding: 20px;
}
.life_more a {
	text-decoration: none;
	color: grey;
	text-transform: uppercase;
}
.life_more:hover ,
.life_more.active {
	opacity: 0.5;
	transition: 0.3s all;
}
.templ {
	background: url(../img/sec11.jpg) no-repeat;
	width: 100%;
	color: #fff;
	text-align: center;
	padding: 75px 0;
}
.templ_button {
	background-color: grey;
	border-radius: 20px;
	border: 1px solid #ff462d;
	max-width: 200px;
	width: 100%;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}
.templ_button:hover ,
.templ_button.active {
	background-color: #ff462d;
	transition: 0.3s all;
	border: 1px solid grey;
}

footer {
	background-color: #232323;
	width: 100%;
}
footer > div {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
	color: grey;
	text-transform: uppercase;
	font-size: 14px;
	align-items: center;
}
footer a {
	 text-decoration: none;
	 color: grey;
}
.prefooter_img {
	position: relative;
}
.prefooter {
	display: flex;
	justify-content: flex-end;
	padding: 50px 0;
	line-height: 30px;
}
.prefooter_left {
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	left: 25%;
}
.prefooter_right {
	flex-direction: column;
	max-width: 450px;
	width: 100%;
	padding: 30px 0;
}
.prefooter_line {
	padding: 15px 0;
	border-bottom: 2px solid red;
	width: 180px;
}
.prefooter_right p {
	padding: 30px 0;
	font-size: 13px;
}
.bold {
	font-weight: bold;
	font-size: 16px;
}
.point {
	color: #ff462d;
}


@media screen and (max-width: 1024px) {
	.container {
		padding: 0 20px;
	}
	.macbook {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.bottom_video_box {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.macbook_img{
		position: relative;
		top: 0;
		display: flex;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
	}
	.head {
		display: flex;
		justify-content: space-between;
		padding: 20px;
		align-items: center;
	} 
	.menu {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: silver;
		display: block;
		position: relative;
	}
	#mobileMenu {
		display: block;
	}
	.menu_list {
		width: 125px;
    	background-color: silver;
    	padding: 10px;
    	font-size: 20px;
    	display: block;
    	position: absolute;
    	top: 0;
    	right: 19px;
    	border-radius: 5px;
    	transition: 0.5s;
    	transform-origin: right center;
    	transform: scaleX(0) translateX(20%);
    	opacity: 0;
    	z-index: 1;
	}
	.menu_list_active {
		transform: scaleX(1) translateX(0);
    	opacity: 1;
	}

	.menu_list a {
		color: #000;
	}
	.menu_list a:hover {
		/* box-shadow: 10px 13px 20px -5px; */
		color: #fff;
		transition: 0.3s all;
	}
	
	.menu_btn,
	.menu_btn::before,
	.menu_btn::after {
		position: absolute;
		top: 50%; margin-top: -1px;
		left: 50%; margin-left: -10px;
		width: 20px;
		height: 2px;
		background-color: #222;
	}
	.menu_btn::before,
	.menu_btn::after {
		content: '';
		display: block;
		transition: 1s;
	}
	.menu_btn::before {
		transform: translateY(-5px);
	}
	.menu_btn::after {
		transform: translateY(5px);
	}
	
	.menu_btn_active {
		height: 2px;
		z-index: 9;
	} 
	.menu_btn_active:before{
		transform: rotate(-35deg);
		width: 10px;
		transform-origin: left bottom;
	}
	.menu_btn_active:after {
		transform: rotate(35deg);
		width: 10px;
		transform-origin: left top;
	}
	
	.easy_block {
		flex-basis: 50%;
	}
	.life_box_items {
		flex-basis: 50%;
	}
	.mono_box i {
		position: absolute;
    	left: 50%;
    	transform: translate(-50%);
	}
	.sandwich {
		flex-basis: 50%;
	}
	.service_block {
		flex-wrap: wrap;
		max-width: 100%;
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
    	margin: 0;
	}
	.sandwich_box {
		margin: 20px 0;
		flex-basis: 45%;
	}
	.prefooter {
		display: block;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.prefooter_left {
		position: relative;
		top: 0;
		left: 50%;
		transform: translate(-50%);
	}
	.prefooter_right {
		position: relative;
		top: 20px;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.prefooter_line {
		margin: 0 auto;
	}
	.templ_button {
		margin: 0 auto;
	}
	.Join_us {
		flex-direction: column;
	}
	.join_us_button {
		display: block;
		margin: 20px auto;
		margin-bottom: 0px;
	}
	footer {
		padding: 40px 0;
	}
	.copyright {
		text-align: center;
		font-size: 15px;
	}
	.site {
		text-align: center;
		font-size: 17px;
	}
}

@media screen and (max-width: 480px) {
	.container {
		padding: 0 20px;
	}
	.head_text {
		padding: 40px 0;
	}
	.head_text p {
		padding: 40px 0;
		font-size: 14px;
	}
	.easy_block {
		flex-basis: 100%;
		padding: 20px 0;
	}

	.macbook_img {
		width: 100%;
		position: relative;
    	top: 0;
    	left: 50%;
    	transform: translateX(-50%);
    	display: flex;
    	justify-content: center;
    	align-items: center;
	}
	.fully {
		padding: 40px;
	}
	.Join_us {
		display: flex;
		flex-direction: column;
	}
	.join_us_button {
		margin: 20px auto;
	}
	.block_center p {
		padding-top: 40px;
	}
	.sandwich_box {
		max-width: 250px;
		width: 100%;
		margin: 20px auto;
	}
	.life_box_items {
		flex-basis: 100%;
	}
	.service_block {
    	display: block;
		width: 100%;
    	text-align: center;
		margin: 0;
		padding: 0;
	}
	.prefooter {
		flex-basis: 100%;
	}
	.prefooter_left {
		position: relative;
    	left: 0;
    	top: 0;
    	transform: translate(0, 0);
    	display: block;
    	width: 100%;
	}
	.copyright {
		text-align: center;
		font-size: 10px;
	}
	.site {
		text-align: center;
		font-size: 10px;
	}
}
